.Deskhead {
right: 20px;
top: 20px;
position: fixed;
width: max-content;
z-index: 15;
}

.eye {
  width: 2em;
  padding-left: 40px;
  margin-top: -6px;

}

.back {
  left: 60px;
  top: 30px;
  position: fixed;
  justify-content: flex-start;
  border: solid 1px var(--copy);
  font-size: .9em;
  padding: 5px 8px 5px 8px;
  margin-top: -6px;
  border-radius: 7px;
}

.eye :hover {
  cursor: pointer;
}


.headright {
    display: flex;
    justify-content: flex-end;
}

.HeadProjects, .HeadDraws {
  min-width: 150px;
}

.HeadDraws {
  text-align: right;
}

@media screen and (max-width: 700px){
  
  .back {
    left: 30px;
    top: 20px;
  }
  

  .Deskhead {
  top: 20px;
  right: 30px;
}}
