.DrawImg {
  width: 100%;
}

.Draws {
  width: calc(100% + 20px);
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}

.Drawtxt {
  display: flex;
  flex: auto;
  margin-top: 10px;
}

.Drawtxt .title {
  margin-left: 20px;
}

.DrawCell a:hover {
  border-bottom: 1px dashed var(--copy);
}

.DrawCell {
  margin: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1700px){

.DrawCell {
    width: calc(25% - 40px);
}
}

@media screen and (min-width: 1200px) and (max-width: 1700px){

.DrawCell {
    width: calc(33.3% - 40px);
}
}

@media screen and (min-width: 900px) and (max-width: 1200px){

.DrawCell {
    width:  calc(50% - 40px);
}
}

@media screen and (max-width: 900px){
  .DrawCell {
      width: calc(100% - 40px);
  }
}
