#root {
  width: 100%;
}

::-webkit-scrollbar { width: 0 }


h2, h4 {
  margin: 0px;
  color: var(--copy);
  font-size: 2.3em;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin: 0px;
  color: var(--copy);
  font-size: 1.15em;
  font-family: input-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100% ;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  background: var(--bg);
  display: flex;
  height: 100%;
  margin: auto;
}

.Containter {
  margin: 10px;
  display: flex;
  max-width: 100%;
  height: 100%;
}

.MainWindow {
  display: flex;
  padding-top: 60px;
  margin: 30px;
  width: calc(100% - 40px);
}

.indydraw {
  width: 100%;
}

.drawbox {
  display: flex;
}

.indydraw .Section img {
  margin: 30px 30px 30px 0px;
  width: auto;
  max-height: 650px;
  display: flex;
}

img {
  border-radius: 6px;
}

a, NavLink {
  text-decoration: none;
  color: var(--copy);
}

.active {
  color: var(--copy);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--copy);
}

.arrow, h2 .link {
  color: var(--copy);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--copy);
}

h2 .link:hover {
  border-bottom: 1px dashed var(--copy);
}

.link:hover {
  cursor: alias;
}

.footer span {
  margin: 0px 5px 0px 5px;
}

@media screen and (max-width: 800px){

  .desktop {
    display: none;
  }

  .Containter {
    margin: 10px 10px 10px  10px;
  }

  .mobile {
    display: flex;
  }

  h1 {
    font-size: 2em;
  }

  h2, h4 {
  font-size: 2em;
  }

  h3 {
  font-size: .8em;
  }

  .MainWindow {
    padding: 40px 0px 10px 0px;
    margin: 0px;
    width: 100%;
  }

  .arrow {
  max-width: 18px;
  }

  .indydraw .Section img {
  max-width: calc(100%);
  margin: 30px 30px 30px 0px;
  }
}

@media screen and (min-width: 800px){

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

}

@media screen and (min-width: 1900px){

  h1 {
    font-size: 4em;
  }

  h2, h4 {
  font-size: 4em;
  }

  h3 {
  font-size: 1.5em;
  }
}
