#root {
  width: 100%;
}

h2, h4 {
  margin: 0px;
  color: var(--copy);
  font-size: 2.5em;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin: 0px;
  color: var(--copy);
  font-size: 1.15em;
  font-family: input-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100% ;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  background: var(--bg);
  display: flex;
  height: 100%;
  margin: auto;
}

.Containter {
  margin: 10px;
  display: flex;
  max-width: 100%;
  height: 100%;
}

.MainWindow {
  display: flex;
  padding-top: 60px;
  margin: 30px;
  width: calc(100% - 40px);
}

.indydraw .Section img {
max-width: calc(50% - 20px);
display: block;
margin: 30px 30px 30px 0px;
}

@keyframes marquee {
    0%   { text-indent: 100vw }
    100% { text-indent: -200vw }
}

.marquee {
  width: calc(100vw - 80px);
  margin: 0px;
  color: var(--bg);
  background-color: var(--copy);
  font-size: 25em;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
  border-radius: 6px;
}

img {
  border-radius: 6px;
}

a, NavLink {
  text-decoration: none;
  color: var(--copy);
}

.active {
  color: var(--copy);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--copy);
}

.arrow, .link {
  color: var(--copy);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--copy);
}

.link:hover {
  border-bottom: 1px dashed var(--copy);
  cursor: alias;
}

@media screen and (max-width: 800px){

  .desktop {
    display: none;
  }

  .Containter {
    margin: 10px 10px 10px  10px;
  }

  .mobile {
    display: flex;
  }

  h1 {
    font-size: 2em;
  }

  h2, h4 {
  font-size: 2em;
  }

  h3 {
  font-size: .8em;
  }

  .MainWindow {
    padding: 40px 0px 10px 0px;
    margin: 0px;
    width: 100%;
  }

  .arrow {
  max-width: 18px;
  }

  .indydraw .Section img {
  max-width: calc(100%);
  display: block;
  margin: 30px 30px 30px 0px;
  }
}

@media screen and (min-width: 800px){

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

}

@media screen and (min-width: 1900px){

  h1 {
    font-size: 4em;
  }

  h2, h4 {
  font-size: 4em;
  }

  h3 {
  font-size: 1.5em;
  }
}
