.Projects {
  width: 50%;
  margin-left: calc(50%);
}

.ProjectCell{
  display: inline;
  margin: 0;
  transition: all .2s ease-in-out;
}


.ProjectBasket:hover .ProjectTitle{
  border-bottom: 1px dashed var(--copy);
}

.ProjectHead {
  display: inline-flex;
  white-space: normal;
  word-wrap: normal;
  word-break: normal;
}

.ProjectBody h2 {
  display: inline-block;
}

.year {
  border: 1px solid var(--copy);
  border-radius: 50%;
  padding: .25em 1em;
  margin: 10px;
  color: var(--copy);
  font-size: 20px;
  font-family: input-sans, sans-serif;
  font-weight: 400;
  vertical-align: middle;
}

.imgwindow {
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: -1;
  width: calc(50% - 40px);
  left: 30px;
  bottom: 30px;
  top: 110px;
  border-radius: 10px;
}

.ProjectImg {
  display: flex;
  margin: auto;
  transition: opacity .6s linear;
  width: auto;
  max-height: 100%;
  min-height: 100%;
}

.plant {
  position: fixed;
  right: 50%;
  width: 40%;
  max-width: calc(50vw);
  z-index: -1;
}

.ProjectBasket:hover .plant {
  display: none;
}

.ProjectBasket:hover .imgwindow {
  display: inline-flex;
}

.ProjectTitle {
  color: var(--copy);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--copy);
}

@media screen and (max-width: 800px){

  .imgwindow {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    right: auto;
    left: auto;
    bottom: auto;
    top: auto;
  }

  .ProjectImg {
    opacity: 1;
    max-width: 100%;
  }

  .Projects{
    width: 100%;
    margin: 0;
  }

  .ProjectCell{
    margin: 20px 0 20px 0;
    display: block;
  }

  .plant {
    display: none;
  }
}

@media screen and (min-width: 800px){


}
