.Projects {
  max-width: 2000px;
  margin-top: -15px;
}

.ProjectMill {
  width: calc(100% + 20px);
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}


.ProjectHead{
  width: 70vw;
  margin: 130px 30px 30px 30px;
}

.ProjectHead a:hover{
  cursor: alias;
}

.ProjectBasket{
  margin: 30px;
  border-top: 1px solid var(--copy);
}


.ProjectCell{
  max-width: calc(100%);
  transition: 0.3s linear;
  width: 100%;
  padding-top: 10px;
}

.ProjectSoon, .ProjectProcess {
  font-family: input-sans, sans-serif;
    background-color: var(--brown);
  font-weight: 400;
  font-style: normal;
  color: var(--eternalblack);
  white-space: nowrap;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  margin: 0px 0px 0px 5px;
  height: max-content;
}

.ProjectProcess {
  background-color: var(--green);
}

.Projecttitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.titlelink a:hover {
  color: grey;
  transition: .3s;
}

.titlelink a {
  color: var(--copy);
  transition: .2s;
}

.out:hover {
cursor: alias;
}

.Projectheader {
  display: flex;
  margin-bottom: 30px;
  color: grey;
}

.into {
  width: 50%;
  padding-bottom: 20px;
  padding: 15px;
}

.imgwindow {
  min-width: 100%;
}

.ProjectCell a {
  min-width: 100%;
}

.ProjectImg {
max-width: 100%;
min-width: 100%;
height: auto;
}

@media screen and (min-width: 1500px){

.ProjectSoon, .ProjectProcess {
  margin: 0px 0px 0px 5px;
}

.ProjectBasket {
    width: calc(33.3% - 60px);
}

.fullbasket {
  width: calc(100% - 60px);
}
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {

.ProjectBasket {
    width: calc(33.3% - 60px);
}

.fullbasket {
  width: calc(100% - 60px);
}
}

@media screen and (min-width: 700px) and (max-width: 1200px){

.ProjectBasket {
    width:  calc(50% - 60px);
}

.fullbasket {
  width: calc(100% - 60px);
}
}

@media screen and (max-width: 700px){
  .ProjectBasket {
      width: calc(100% - 60px);
  }


  .ProjectSoon, .ProjectProcess {
    padding: 8px 12px 8px 12px;
    margin: 0px 0px 0px 0px;
  }
}
