@import url("https://use.typekit.net/pvc7hiq.css");

:root{
  --bg: grey;
  --copy: black;
  --stamp: red;
}

body {
  margin: 0;
  font-family: nimbus-sans-extended, sans-serif;
}

code {
  font-family: nimbus-sans-extended, sans-serif;
}
